:root {
  --background-color: rgb(248, 248, 248);
  --navy-blue-color: rgb(23, 23, 64);
  --navy-blue-color-2: rgb(35, 35, 96);
  --shadow: rgb(0, 0, 0);
  --shadow-2: #a92f22ca;
  --light-pink-color: #fa8072ca;
  --dark-pink-color: #f86959ca;
  --red-color: rgb(225, 27, 27);
  --white-color: white;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap-one: 20px;
  --gap-two: 120px;
  --bold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--navy-blue-color);
}
.container {
  display: flex;
  gap: var(--gap-two);
}
.new-book-section {
  background-color: var(--light-pink-color);
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-one);
}
.new-book-section h1 {
  margin-top: 20px;
}
.book-organizer {
  margin-top: 50px;
}
.new-book-form-container {
  display: none;
}
.show-new-book-form {
  display: block;
}

.book-organizer-table {
  width: 700px;
}
.blue-background {
  background-color: var(--navy-blue-color);
  color: var(--white-color);
  text-align: center;
}
.box {
  margin: 20px;
  text-align: left;
  font-weight: var(--bold);
}
.box input {
  width: 300px;
  height: 30px;
  background-color: var(--light-pink-color);
  color: var(--navy-blue-color);
  border: none;
  border-bottom: 1px solid var(--navy-blue-color);
  margin-top: 10px;
  outline: none;
}
.box input:active,
.box input:focus {
  border-bottom: 1px solid var(--navy-blue-color);
  margin-top: 10px;
}
.button {
  background-color: var(--navy-blue-color);
  color: var(--white-color);
  width: 140px;
  margin: 20px;
  height: 45px;
  border-radius: 25px;
  transition: 0.3s;
  font-weight: var(--bold);
  box-shadow: 0 3px 3px var(--shadow);
  border-style: none;
}
.button:hover {
  background-color: var(--navy-blue-color-2);
}
.button-center {
  text-align: center;
  margin-left: 130px;
}
.remove-button {
  border-radius: 25px;
  transition: 0.3s;
  font-weight: var(--bold);
  box-shadow: 0 3px 3px var(--shadow-2);
  border-style: none;
  background-color: var(--light-pink-color);
  color: var(--white-color);
  padding: 10px;
  display: block;

  margin: 0 auto;
}
.remove-button:hover {
  background-color: var(--dark-pink-color);
}
